<!DOCTYPE html>
<html>
  <head>
  <title>Raspberry Pi Camera Stream</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <h1>Raspberry Pi Camera Stream</h1>
    <img id="video_feed" src="{{ url_for('video_feed') }}">
    <div id="button_container">
      <button class="move_button" onclick="move_forward()">Move Forward</button>
      <button class="move_button" onclick="move_forward3()">Move Forward 3 sec</button>
      <button class="move_button" onclick="move_backward()">Move Backward</button>
      <button class="move_button" onclick="stop()">Stop</button>
      <button class="fire_button" onclick="fire()">Fire Gun</button>
      <button class="motor_button" onclick="motor2_forward()">Motor2 Forward</button>
      <button class="motor_button" onclick="motor2_backward()">Motor2 Backward</button>
      <button class="motor_button" onclick="motor2_stop()">Motor2 Stop</button>
      <button class="motor_button" onclick="motor2_trigger()">Turn Gun On/Off</button>
      <button class="fire_sequence_button" onclick="fire_sequence()">FIRE</button>
      <textarea id="log-textarea" rows="10" cols="50" clear="left"></textarea>
      
    </div>
    <div id="text-box">
      
    </div>
    
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
      function move_forward() {
        fetch('/move_forward')
          .then(response => response.text())
          .then(data => console.log(data))
          .catch(error => console.error(error))
      }
      function move_forward3() {
        fetch('/move_forward3')
          .then(response => response.text())
          .then(data => console.log(data))
          .catch(error => console.error(error))
      }
      function move_backward() {
        fetch('/move_backward')
          .then(response => response.text())
          .then(data => console.log(data))
          .catch(error => console.error(error))
      }
      function stop() {
        fetch('/stop')
          .then(response => response.text())
          .then(data => console.log(data))
          .catch(error => console.error(error))
      }
      function fire() {
        fetch('/fire')
          .then(response => response.text())
          .then(data => console.log(data))
          .catch(error => console.error(error))
      }
      function motor2_forward() {
        fetch('/motor2_forward')
          .then(response => response.text())
          .then(data => console.log(data))
          .catch(error => console.error(error))
      }
      function motor2_backward() {
        fetch('/motor2_backward')
          .then(response => response.text())
          .then(data => console.log(data))
          .catch(error => console.error(error))
      }
      function motor2_stop() {
        fetch('/motor2_stop')
          .then(response => response.text())
          .then(data => console.log(data))
          .catch(error => console.error(error))
      }
      function motor2_trigger() {
        fetch('/motor2_trigger')
          .then(response => response.text())
          .then(data => console.log(data))
          .catch(error => console.error(error))
      }
      function fire_sequence() {
        fetch('/fire_sequence')
          .then(response => response.text())
          .then(data => console.log(data))
          .catch(error => console.error(error))
      }
      function updateText() {
			$.ajax({
				url: '/get_data',
				type: 'GET',
				dataType: 'json',
				success: function(response) {
					$('#log-textarea').text(response.data);
				},
				error: function(error) {
					console.log(error);
				}
			});
		}

		$(document).ready(function() {
			setInterval(updateText, 1000);
		});
    </script>
  </body>
</html>